/* general designs */
input, button {
    height: 40px;
    border: 3px solid #7700b3;
    border-radius: 10px;
    font-size: 30px;
}
h1:hover, input, ::placeholder {
    color: #b366ff;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Amatic SC', cursive;
    cursor: pointer;
}
p {
    margin-top: 5px;
    font-size: 25px;
    text-align: center;
}
input {
    height: 40px;
    width: 150px;
    outline: none;
    padding-left: 15px;
}
button {
    width: 100px;
    background-color: #7700b3;
    color: white;
}
button:hover {
    background-color: #b366ff;
}

/* repetitive designs */
.flexStyleRow, .flexStyleRowTwo, .flexStyleColumn, .flexStyleColumnTwo, .flexStyleColumnThree {
    display: flex;
    align-items: center;
}
.flexStyleColumn, .flexStyleColumnTwo, .flexStyleColumnThree {
    flex-direction: column;
}
.flexStyleRow, .flexStyleColumn {
    justify-content: center;
}
.flexStyleRowTwo, .flexStyleColumnTwo {
    justify-content: space-evenly;
}
.flexStyleColumnThree {
    justify-content: flex-start;
}

.borderStyle, .borderStyleTwo {
    border: 3px solid #7700b3;
    border-radius: 25px;
}
.borderStyle {
    background-color: white;
}
.borderStyleTwo {
    background-color: #7700b3;
    color: white;
}

/* container designs */
.displayTitle, .displayTitleTwo {
    height: 50px;
}
.functionContainer, .displayContainer {
    height: 100%;
}
.greetUserContainer, .popupContainerDesign {
    width: 400px;
}
.displaySubCon, .popupContainerDesignTwo, .popupContainerDesignThree {
    width: 550px;
}
.purpleContainer, .displayHeightWidth {
    width: 100%;
}
.greetUserContainer, .popupContainerDesign, .popupContainerDesignTwo, .popupContainerDesignThree {
    position: absolute;
}
.displayTitle, .displayTitleTwo {
    font-size: 25px;
}

.purpleContainer {
    height: 150px;
    padding-left: 30px;
    background-color: #b366ff;
    color: white;
    font-size: 80px;
}
.greetUserContainer {
    height: 80px;
    margin: 0px 800px 750px 0px;
    font-size: 40px;
}
.dashboardContainer {
    height: 800px;
    width: 850px;
    margin: 30px 0px 0px 400px;
}
.functionContainer {
    width: 20%;
}
.logoContainer {
    height: 60px;
    width: 60px;
}
.displayContainer {
    width: 80%;
}
.displayHeightWidth {
    height: 50%;
}
.displaySubCon {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 350px;
    padding-top: 10px;
}
.displayTitle {
    width: 130px; 
}
.displayTitleTwo {
    width: 200px;
}
.popupContainerDesign {
    height: 220px;
    margin: 0px 0px 250px 580px;
}
.popupContainerDesignTwo {
    height: 200px;
    margin: 0px 0px 250px 565px;
}
.popupContainerDesignThree {
    height: 370px;
    margin: 0px 0px 300px 565px;
}
.expenseTitle {
    height: 40px;
    width: 500px;
    font-size: 15px;
}

/* selective design */
.logout, .initialPopupDesign {
    text-align: center;
}

.hidden {
    visibility: hidden;
}
.logout {
    height: 40px;
    width: 100px;
    margin: 10px 0px 20px 0px;
    font-size: 30px;
}
.logout:hover {
    color:white;
    background-color: #7700b3;
}
.inputMargin {
    margin-right: 5px;
}
.initialPopupDesign {
    width: 250px;
}
.marginTop {
    margin-top: 15px;
}
.kangaroo {
    height: 400px;
    width: 450px;
    position: absolute;
    margin: 150px 930px 0px 0px;
}